<style>
    .gif{
        border-radius: 10px;
        width: 45%;
    }
</style>

<div style="margin: 15vh 0;">
    <h1 style="
        margin-left: 4vw;  
        border-bottom: 4px solid var(--secondary);
        width: fit-content;
        ">Demo videos</h1>
    <p style="margin-left: 4vw; margin-bottom: 10vh;">Sorry for the video quality. Due to some technical issue showing .mp4 file. I have to settle with .gif, which have lower resolution.</p>
    <div style="display: flex; justify-content: center; gap: 5vw;">
        <img class="gif" src="/assets/gif/model.gif">
        <img class="gif" src="/assets/gif/mouse.gif">
    </div>
    <div style="display: flex; justify-content: center; gap: 10%;">
        <p style="width: 40%;">Demo gesture for [3D navigation]</p>
        <p style="width: 40%;">Demo gesture for [mouse interaction]</p>

    </div>
</div>