<div style="margin: 15vh 0;">
    <h1 style="
        margin-left: 4vw;  
        border-bottom: 4px solid var(--secondary);
        width: fit-content;
        ">Demo videos</h1>
    <p style="margin-left: 4vw; margin-bottom: 10vh;">Footage not final. Subjected to many changes and added features.</p>
    <div style="display: flex; justify-content: center; gap: 5vw;">
        <video width="45%" muted autoplay loop>
            <source src="assets/video/model.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video width="45%" muted autoplay loop>
            <source src="assets/video/mouse.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div style="display: flex; justify-content: center; gap: 10%;">
        <p style="width: 40%;">Demo gesture for [3D navigation]</p>
        <p style="width: 40%;">Demo gesture for [mouse interaction]</p>

    </div>
</div>